html, body {
    margin: 10px;
    padding: 2px;
    background-color: #B0E0E6;
}
 h1{
	font-size: 45px;
	text-align: center;
	font-family: Gill Sans Extrabold, sans-serif; 
	padding: 10px;
	margin: 10px;
	float: top;
	
}
h3, h4{
	text-align: center;
	font-family: Gill Sans Extrabold, sans-serif; 
	padding: 0px;
	margin: 0px;
	float: top;
	
}
.sidebar{
	width: 160px; /* Set the width of the sidebar */
	position: absolute; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 10%; /* Stay at the top */
	left: 0;
	/* background-color: #111; Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 100px;
}
.main{
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}
ul{
    list-style-type: disc;
    margin-block-start: 10px;
    margin-block-end: 10px;
	padding-inline-start: 20px;
	columns: auto;
}
li{
	
	font-size: 20px;
	display: list-item; 
}
.navbar {
	border-bottom: 1px solid black;
	padding-left: 10px;
}
.nav-link {
	display: inline-block;
	list-style-type: none;
	padding-bottom: 10px;
}
/* This is for the navbar links, so it shows the results in the page. this just makes that look nice. */
.nav-link::after {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0px 15px 0px ;
}



.about_text {
	width: 70%;
	margin: 0 auto;
}
.offerings {
	background-color: #ABFF59;
	width: 100%;
}
.contact_text {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	height: 200px;
	width: 300px;
}
.contact_map {
	display: inline-block;
	vertical-align: bottom;
}